[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = "*"
certifi = "*"
flask-mail = "*"
flask-login = "*"
flask-socketio = "*"
pylint = "*"
black = "*"
eventlet = "*"
python-dotenv = "*"
pytest = "*"

[dev-packages]
mongomock = "*"

[requires]
python_version = "3.13"
