{% extends "base.html" %}

{% block title %}
Group Catalogue
{% endblock %}

{% block content %}
<div class="group-browser-container">
  <div class='group-header'>
    <h1>Group Catalogue</h1>
    <span>Search:</span><input class='group-search'>
  </div>
    <div class='group-browser'>
    {% for group in groups %}
        <div class='group'>
          <b>{{ group['name'] }}</b>
          <span>{{ group['members'] | length }} Member{% if group['members'] | length != 1%}s{% endif %}</span>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
