{% extends "base.html" %}

{% block title %}Group Catalogue{% endblock %}

{% block content %}
<div class="group-browser-container">
  <div class="group-header">
    <h1>Group Catalogue</h1>
    <span>Search:</span><input class="group-search">
    <div class="sort">
      <div class="sort-options">
        <ion-icon name="filter"></ion-icon>
      </div>
      <div class="click-off"></div>
      <ul class="menu">
        <li>Members</li>
        <li>Newest</li>
      </ul>
    </div>
  </div>
  <div class="group-browser">
    {% for group in groups %}
        <a class = "group" href="{{ url_for('group_detail', gid=group._id) }}">
          <b>{{ group['name'] }}</b>
          <span>
            {{ group['members']|length }} Member{% if group['members']|length != 1 %}s{% endif %}
          </span>
        </a>
    {% endfor %}
  </div>
</div>
{% endblock %}
