{% extends "base.html" %}

{% block title %}
Login - NYU SSO
{% endblock %}

{% block content %}
<div class="login-container">
    <h1 class="app-title">ConnectNYU</h1>
    <h2 class="login-heading">Login using your NYU email</h2>
  <form method="POST" action="{{ url_for('login') }}">
    <input type="email"   name="email"            placeholder="NYU Email" required>
    <input type="password"name="password"         placeholder="Password" required>
    <button type="submit" class="nyu-login-button">Login</button>
  </form>

  {% if error %}
    <p class="error-message">{{ error }}</p>
  {% endif %}
  <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a>.</p>
</div>
{% endblock %}
