<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
  </head>

  <body>
    <div class="profile-container">
      <h1>Your Profile</h1>
        <div class='profile-picture'>{{ profile['picture'] }}</div>
        <div class='profile-name'>Name: {{ profile['name'] }}</div>
        <div class='profile-age'>Age: {{ profile['age'] }}</div>
        <div class='profile-grade'>Grade: {{ profile['grade'] }}</div>
        <div class='profile-groups'>Groups:
        {% for group in profile['groups'] %}
            <span>{{ group }}</span>
        {% endfor %}
        </div>
    </div>
  </body>
</html>
