<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
Profile
{% endblock %}

{% block content %}
<div class="profile-container">
  <h1>Your Profile</h1>
    <div class='profile-picture'>{{ profile['picture'] }}</div>
    <div class='profile-name'>Name: {{ profile['name'] }}</div>
    <div class='profile-age'>Age: {{ profile['age'] }}</div>
    <div class='profile-grade'>Grade: {{ profile['grade'] }}</div>
    <div class='profile-groups'>Groups:
    {% for group in profile['groups'] %}
        <span>{{ group }}</span>
    {% endfor %}
    </div>
</div>
{% endblock %}