
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Public Board</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
  </head>
<body>
    <div style="display: flex; flex-direction: column; align-items: center; padding: 40px;">
  
      
  
      <hr style="margin: 40px 0; width: 100%; max-width: 600px;">
  
      <h2>Public Posts</h2>
      {% for post in posts %}
        <div class="post">
          <strong>{{ post.username }}</strong> <em>{{ post.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</em>
          <p>{{ post.text }}</p>
  
          {% if post.filename %}
            {% if post.filename.endswith(('jpg', 'jpeg', 'png', 'gif')) %}
              <img src="{{ url_for('static', filename='uploads/' + post.filename) }}">
            {% elif post.filename.endswith('mp4') %}
              <video controls>
                <source src="{{ url_for('static', filename='uploads/' + post.filename) }}" type="video/mp4">
              </video>
            {% else %}
              <a href="{{ url_for('static', filename='uploads/' + post.filename) }}">Download {{ post.filename }}</a>
            {% endif %}
          {% endif %}
        </div>
      {% endfor %}
        
      <h2>Post Something</h2>
      <div class="post-form">
        <form method="POST" action="{{ url_for('post') }}" enctype="multipart/form-data">
          <textarea name="text" placeholder="Create your post!" rows="3"></textarea><br>
          <div class="file-upload-wrapper">
            <label class="file-upload-button">Choose File
              <input type="file" name="media">
            </label>
          </div>                   
        <button type="submit">Post</button>
        </form>
      </div>
    </div>
  </body>
  